*{
    margin: 0;
    padding: 0;
    font-family: sans-sarif;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(Images/img1/background.png);
    background-size:cover;
    background-position:center;
    position: relative;
    overflow: hidden;
}
.logo{
    cursor:pointer;
    height: auto;
    width: 150px;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color:#fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.login-btn{
    color: #fbfcfd;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}
.login-btn:hover{
    color:yellow;
    display: flex;
    font-size: larger;
    transition: 0.25px;
    text-align: center;
}
.to-home{
    color: #fbfcfd;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}
.to-home:hover{
    color:yellow;
    display: flex;
    font-size: larger;
    transition: 0.25px;
    text-align: center;
}

.content{
    color:#fbfcfd;
    position: absolute;
    top: 52%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.row h3{
    top: 42%;
    position: absolute;
    color: #fff;
    transform: translate(80.7%);
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.row .video-img{
    width: 16%;
    height: 16%;
    position: absolute;
    top: 55%;
    right: 7.5%;
    transform: translateY(-50%);
    border: 2px solid #fff;
    padding: 0;
}
.row .video-img .img-fluid{
    width: 120%;
    height: 100%;
    opacity: 50%;
    padding: 0;
}
.row .video-img .img-fluid:hover{
    width: 120%;
    height: 100%;
    opacity: 70%;
    padding: 0;
}
.row .play-btn{
    width: 6%;
    height: 6%;
    position: absolute;
    top: 53%;
    right: 12.6%;
    transform: translateY(-50%);
}
.row .play-btn:hover{
    width: 7%;
    height: 7%;
    position: absolute;
    top: 53%;
    right: 12%;
    transform: translateY(-50%);
}


h1{
    font-size: 88px;
    margin: 10px 0 20px;
    line-height: 60px;
}
h2{
    font-size: 45px;
    margin: 10px 0 25px;
    line-height: 50px;
}
.back_img{
    width: 50px;
    height: 50px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);/* it will add a side bar on the page*/
    position: absolute;
    right: 0;
    top: 0;
}

.social-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}
.useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3.2s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 2.9s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    width: 35px;
    animation-delay: 7s;
}
.bubbles img:nth-child(8){
    width: 20px;
    animation-delay: 1.4s;
}
.bubbles img:nth-child(9){
    width: 64px;
    animation-delay: 2.6s;
}
.bubbles img:nth-child(10){
    width: 35px;
    animation-delay: 5s;
}
@media(max-width: 914px){
    .play-btn{
        display: none;
    }
    #go-live{
        display: none;
    }
    .login-btn{
        display: none;
    }
    .video-img{
        display: none;
}
